<div class="p-3">
  <h5>Módulo de solicitudes</h5>
  <div class="row">
    <div class="col-12 text-end">
      <button
        (click)="guardar()">
        Crear solicitud
      </button>
    </div>
    <hr class="col-12">
    <div class="col-12">
      <table class="table w-100">
        <thead>
        <tr>
          <th>Id</th>
          <th>Estado</th>
          <th>Fecha ingreso</th>
          <th>Monto</th>
          <th>Id cliente</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let solicitud of solicitudes">
          <td>{{ solicitud.id }}</td>
          <td>{{ solicitud.estado }}</td>
          <td>{{ solicitud.fechaIngreso }}</td>
          <td>{{ solicitud.monto }}</td>
          <td>{{ solicitud.idCliente }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

