<div class="p-3">
  <form class="row justify-content-center" [formGroup]="formulario">
    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <label class="d-block mb-2" [for]="estado">Estado</label>
          <input
            class="w-100"
            #estado
            [type]="'number'"
            [name]="'estado'"
            [formControlName]="'estado'">
        </div>
        <div class="col-12">
          <label class="d-block mb-2" [for]="fechaIngreso">Fecha ingreso</label>
          <input
            class="w-100"
            #fechaIngreso
            [type]="'date'"
            [name]="'fechaIngreso'"
            [formControlName]="'fechaIngreso'">
        </div>
        <div class="col-12">
          <label class="d-block mb-2" [for]="monto">Monto</label>
          <input
            class="w-100"
            #monto
            [type]="'number'"
            [name]="'monto'"
            [formControlName]="'monto'">
        </div>
        <div class="col-12">
          <label class="d-block mb-2" [for]="idCliente">Id cliente</label>
          <input
            class="w-100"
            #idCliente
            [type]="'text'"
            [name]="'idCliente'"
            [formControlName]="'idCliente'">
        </div>
      </div>
      <div class="col-12 text-center">
        <button
          [type]="'button'"
          (click)="guardar()">
          Guardar</button>
      </div>
    </div>
  </form>
</div>
